{% extends "base.html" %}
{% block title %}Munchkin level counter{% endblock title %}
{% block header %}Подтверждение окончания игры{% endblock header %}
{% block content %}
<div class="confirmation-dialog">
  <h3>Вы уверены, что хотите закончить игру?</h3>
  <div class="confirmation-buttons">
    <form method="post" action="">
      {% csrf_token %}
      <button type="submit" class="confirm-btn">Да, закончить</button>
    </form>
    <form method="get" action="{% url 'game:join_game' game_hash=game_hash %}">
      {% csrf_token %}
      <button type="submit" class="cancel-btn">Нет, вернуться назад</button>
    </form>
  </div>
</div>
{%endblock content %}