{% extends "base.html" %}
{% block script %}
<script>
function startWebsocket() {

  const game_hash = '{{game_hash}}'
  var ws = new WebSocket(`ws://localhost:8000/ws/game/${game_hash}/`);

  ws.onmessage = function(event) {
      const data = JSON.parse(event.data)['type'];
      console.log(data)
      if (data == 'game.update'){
          console.log('svo')
          htmx.trigger('#plr_container','player_update')
      } else if (data == 'game.delete'){
        htmx.trigger('#ind_loader','game_delete')
      }

  };

  ws.onopen = function() {
      console.log("WebSocket подключен");


  };
  ws.onclose = function(){
    ws = null
    setTimeout(startWebsocket, 5000)
  }
}
startWebsocket()
</script>
{% endblock script %}
{% block title %}Munchkin level counter{% endblock title %}
{% block header %}Munchkin Игра: {{game_hash}}{% endblock header %}
{% block content %}
<div class="end-game-container">
    <button 
    class="end-game-btn"
    hx-post="{% url "game:remove_game" game_hash=game_hash %}" 
        hx-trigger='confirmed'
        hx-target='body'
        hx-swap="outerHTML"
        onClick="Swal.fire({
  title: 'Вы уверены?',
  text: 'Игру не получиться восстановить!',
  icon: 'warning',
  showCancelButton: true,
  cancelButtonColor: '#3085d6',
  confirmButtonColor: '#d33',
  cancelButtonText: 'Нет',
  confirmButtonText: 'Да, закончить'
}).then((result) =>{
            if(result.isConfirmed){
              htmx.trigger(this, 'confirmed');  
            } 
        })">
Закончить игру
</button>
</div>
<div class="players-container" hx-trigger="player_update" hx-get="{%url 'game:load_players' game_hash%}" hx-swap="outerHTML" id="plr_container">
  {% for player in players %}
<div class="player-card" id = "plr{{player.id}}">
   <div class="player-header">
  <div class="name-gender-wrapper">
    <span class="player-name">{{ player.player_name }}<span style='padding-left:8px;'> </span>Сила: {{player.power}}</span>
      <button hx-swap="outerHTML" hx-post="{% url 'game:switch_gender' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}" class="btn gender-btn">{{player.gender}}</button>
  </div>
    <button hx-swap="outerHTML" hx-post="{% url 'game:delete_player' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}" class="btn delete-btn" title="Удалить">×</button>
</div>
    
    <div class="stats-row">
      <div class="stat-group">
          <button hx-swap="outerHTML" hx-post="{% url 'game:decrease_lvl' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}"class="btn lvl-btn">-</button>
        <span>Уровень: {{ player.player_lvl }}</span>
          <button hx-swap="outerHTML" hx-post="{% url 'game:increase_lvl' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}"class="btn lvl-btn">+</button>
      </div>
      
      <div class="stat-group">
          <button hx-swap="outerHTML" hx-post="{% url 'game:decrease_equipment' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}" class="btn equip-btn">-</button>
        <span>Шмотки: {{ player.player_equipment }}</span>
          <button hx-swap="outerHTML" hx-post="{% url 'game:increase_equipment' game_hash player.id %}" hx-target="#plr{{player.id}}" hx-select="#plr{{player.id}}" class="btn equip-btn">+</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<form hx-post="{%url 'game:add_player' game_hash %}" hx-target="#plr_container"  hx-trigger="reset" hx-swap="outerHTML" class="add-player-form">  
  <div class="form-row">
    <label for="{{ form.player_name.id_for_label }}">Имя игрока</label>
    {{ form.player_name }}
  </div>
  
  <div class="form-row">
    <div class="gender-row">
      <label>Пол:</label>
      <div class="gender-options">
        {% for choice in form.player_gender %}
          <div class="gender-option">
            {{ choice.tag }}
            <label for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <button type="reset" class="add-player-btn" id="submit_add">Добавить игрока</button>
</form>
<div  id="ind_loader" hx-get="{%url 'game:index'%}" hx-trigger="game_delete" hx-swap="outerHTML" hx-target="body"></div>
{% endblock %}